.container {
    display: flex;
    padding: 16px;
    justify-content: flex-start;
}

.header {
    padding: 12px;
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
}