.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    padding: 16px;
}

.header {
    padding: 12px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
}