.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    margin-top: 30px;
}
