.container {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    border: 1px solid #d0d0d0;
    object-fit: cover;
    box-shadow: 0 4px 4px #00000040;
    transition: filter 0.3s ease;
}

.image:hover {
  filter: brightness(1.1)
}

.link {
    text-align: center;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: var(--color-primary-hover);
}