.container {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: red;
}

.titleImage {
    height: 150px;
}

.title {
    color: var(--color-primary);
    text-transform:uppercase
}

.rowContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    height: 100%;
}

.actionsRow {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    height: 100%;
}

.actionsRowTop {
    display: flex;
    padding-bottom: 2px;
    gap: 12px;
}

.actionsRowBottom {
    border-top: 1px solid #d0d0d0;
}