.container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.titleImage {
    height: 100px;
}

.title {
    color: var(--color-primary);
    text-transform:uppercase
}

.rowContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 20px 0 20px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    height: 50%;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    height: 100%;
}