.container {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    position: fixed;
    top: 50px;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 30px;
    border-bottom: 0.5px solid #e8e8e8
}

.link {
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
}

.link:hover {
    font-size: 0.75rem;
    text-decoration: underline;
}