.container {
    display: flex;
    align-items: center;
    top: 50px;
    z-index: 999;
    height: 30px;
    padding-left: 94px;
}

.link {
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
}

.link:hover {
    font-size: 0.75rem;
    text-decoration: underline;
}