.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-decoration:none;
    color: black;
}

.cardImage {
    width: 100%;
    transition: filter 0.3s ease;
}

.cardImage:hover {
  filter: brightness(1.15)
}