.footer {
  background-color: var(--color-secondary);
  padding: 12px 16px;
  text-align: center;
  margin-top: 48px;
  border-top: 1px solid #e5e5e5;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.875rem;
  color: white;
}