.container {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* position: fixed; */
    width: 100%;
    top: 0;
}

.navigationTop {
    height: 50px;
    background-color: #8bc0da;
    display: flex;
    align-items: center;
}

.navigationTopContainer {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    margin-left: 100px;
}

.navigationBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    border-bottom: 0.5px solid #e8e8e8;
    background-color: white;
}

.logo {
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 1000
}

.navigationLink {
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.2s;
    text-decoration: none;
    transition: text-decoration 0.2s;
    padding-inline: 0.5rem;
}

.navigationLink:hover {
    text-decoration: underline;
}

.navigationProfileButton {
    color: white;
}

.searchBar {
    width: 300px;
}

.addButton {
    position: absolute;
    right: 0;
    z-index: 2000;
    margin: 0;
}