.navigation {
    background-color: #8bc0da;
    padding: 0.75rem 1rem; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.navigationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    gap: 1rem;
    min-height: 24px;
}

.navigationLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationMenuPages {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.navigationMenuAccount {
    display: flexbox;
    gap: 1rem;
}

.navigationLink {
    /* color: #05588B;; */
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.2s;
    text-decoration: none;
    transition: text-decoration 0.2s;
    padding-inline: 0.5rem;
}

.navigationLink:hover {
    text-decoration: underline;
}

.navigationLogo {
    height: 20px
}

.navigationLogoText {
    color: black;
}