.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    display: flex;
    flex: 1;
    width: 100%;
    transition: none;
}

.navigation-panel {
    display: flex;
    min-width: 300px;
}

.content-panel {
    display: block;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 50px;
}