.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;          
    flex-wrap: wrap;  
    margin-top: 1rem;
    justify-content: center;
}