.container {
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem;
}

.cardContainer {
    /* background-color: red; */
    display: flex;
    flex-direction: row;          
    flex-wrap: wrap;  
    gap: 3rem;   
    margin-top: 1rem;
}