.container {
    width: 100%;
    /* margin: 20px 20px 20px 20px;
    border: 0.5px solid #e8e8e8; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    gap: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;          
    flex-wrap: wrap;  
    margin-top: 1rem;
    justify-content: center;
}