.dashboardPage {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 16px;
    margin-top: 60px;
}

.dashboardHeader {
    padding: 12px;
}

.dashboardLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    margin-top: 36px;
}