.dashboardPage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dashboardLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    margin-top: 36px;
}